---
http_interactions:
- request:
    method: post
    uri: https://api.test.trustdock.io/v2/verifications
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api_token
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"c0785a9a-5a9d-4a52-9347-d0abd7d527cf","id_for_helper":"594b1ed6-183f-44ec-913c-417fc6853951","state":"accepted","result":null,"accepted_at":"2019-10-01T23:27:34.000Z","plans_selected_at":null,"document_submitted_at":null,"prepared_at":null,"verified_at":null}'
  recorded_at: Tue, 01 Oct 2019 23:27:34 GMT
recorded_with: VCR 5.0.0
