---
http_interactions:
- request:
    method: post
    uri: https://api.test.trustdock.io/v2/verifications
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api_token
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"48e6ff90-0d0a-49d5-9ca9-64c8e70d0828","id_for_helper":"f4627145-64f8-467a-bbad-a8706bc9d8d6","state":"accepted","result":null,"accepted_at":"2019-10-01T23:27:34.000Z","plans_selected_at":null,"document_submitted_at":null,"prepared_at":null,"verified_at":null}'
  recorded_at: Tue, 01 Oct 2019 23:27:34 GMT
- request:
    method: put
    uri: https://api.test.trustdock.io/v2/verifications/48e6ff90-0d0a-49d5-9ca9-64c8e70d0828/plans
    body:
      encoding: UTF-8
      string: '{"ids":["924af311-788f-4252-9b6d-bef2bc0871ae"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api_token
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Oct 2019 23:27:34 GMT
recorded_with: VCR 5.0.0
