---
http_interactions:
- request:
    method: post
    uri: https://api.test.trustdock.io/v2/verifications
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api_token
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"b3f2fe82-f95c-4eba-a8ce-457738c9ccb9","id_for_helper":"976305a9-0d17-4f38-ab68-21f94bb450ea","state":"accepted","result":null,"accepted_at":"2019-10-01T23:27:34.000Z","plans_selected_at":null,"document_submitted_at":null,"prepared_at":null,"verified_at":null}'
  recorded_at: Tue, 01 Oct 2019 23:27:34 GMT
- request:
    method: get
    uri: https://api.test.trustdock.io/v2/verifications/b3f2fe82-f95c-4eba-a8ce-457738c9ccb9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer api_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9181c923dcbe1597d07d2b005ae26833"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"b3f2fe82-f95c-4eba-a8ce-457738c9ccb9","id_for_helper":"976305a9-0d17-4f38-ab68-21f94bb450ea","state":"accepted","result":null,"accepted_at":"2019-10-01T23:27:34.000Z","plans_selected_at":null,"document_submitted_at":null,"prepared_at":null,"verified_at":null}'
  recorded_at: Tue, 01 Oct 2019 23:27:34 GMT
recorded_with: VCR 5.0.0
